<!--Script Selection-->
<script src="/jquery/dist/jquert.min.cs"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>scr = "/Scripts/app.js"</script>

<script type="text/javascript">
  function goToAboutPage() {
    return res.redirect('/about');
  }
</script>

</body>

</html>