

<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <!--Main Content-->
    <main class="container">
      <div class="jumbotron"><center>
          <h3>About Us</h3></center><br>
        
          </div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                  <div class="card h-100">
                  <img src="" class="card-img-top" alt="member1">
                  <div class="card-body">
                      <h5 class="card-title">Name 1</h5>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="" class="card-img-top" alt="member 2">
                      <div class="card-body">
                          <h5 class="card-title">Name 2</h5>
                          
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card h-100">
                      <img src="" class="card-img-top" alt="member3">
                      <div class="card-body">
                          <h5 class="card-title">Name3</h5>
                          
                      </div>
                  </div>
              </div>
  <div class="col">
                  <div class="card h-100">
                      <img src="" class="card-img-top" alt="member 4">
                      <div class="card-body">
                          <h5 class="card-title">Name 4</h5>            
                      </div>
                  </div>
              </div>

              <div class="col">
                <div class="card h-100">
                    <img src="" class="card-img-top" alt="member5">
                    <div class="card-body">
                        <h5 class="card-title">Name 5</h5>
                        
                    </div>
                </div>
            </div>

            <div class="col">
              <div class="card h-100">
                  <img src="" class="card-img-top" alt="member6">
                  <div class="card-body">
                      <h5 class="card-title">Name6</h5>
                      
                  </div>
              </div>
          </div>
            </div>
      </div>
  </main>
  
  
  
    

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>