<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>



    <!--Main Content-->

    <div class="containerPageCentered">
      <h1 class="meet-custom">Welcome to SurveyMakers</h1>

      <p>&nbsp;</p>
      <div style="text-align:center">
        <button type="aboutButton">
          <a href="/dashboard" target="_blank" style="color:white; text-decoration: none;"> Get to Dashboard</a>
        </button>
      </div>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>


    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>